body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #f3efef;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

input[type="file"] {
    margin-top: 5px;
}

input[type="submit"] {
    background-color: #595757;
    color: #f1eded;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #868585;
}